---
pagination:
  data: collections.poemsByCategory      # the object you build in .eleventy.js
  size: 1                                # one category per page
  alias: cat                             # current item is now “cat”
permalink: "/categories/{{ cat | slugify }}/"
layout: layout.njk
---

{% from "macros/poems.njk" import poemTitle %}
{% set sortedPoems = collections.poemsByCategory[cat] | sort("data.title", reverse=false) | sort("page.date", reverse=true) %}


<h1>Category: {{ cat }}</h1>
<em>Alphabetically</em>

<ul>
{% for poem in sortedPoems %}
  <li><a href="{{ poem.url }}">{{ poemTitle(poem) }} by {{ poem.data.author }}</a></li>
{% endfor %}
</ul>
