---
pagination:
  data: collections.poemsByYear      # the object you build in .eleventy.js
  size: 1                            # one category per page
  alias: contestYear                 # current item is now “year”
permalink: "/years/{{ contestYear | slugify }}/"
layout: layout.njk
---

{% set sortedPoems = collections.poemsByYear[contestYear] | sort("data.title", reverse=false) | sort("page.date", reverse=true) %}


<h1>Contest Year: {{ contestYear }}</h1>
<em>Alphabetically</em>

<ul>
{% for poem in sortedPoems %}
  <li><a href="{{ poem.url }}">{% if poem.data.award === "winner" %}🥇 {% endif %}{% if poem.data.award === "runner-up" %}🥈 {% endif %}{{ poem.data.title }} by {{ poem.data.author }}</a></li>
{% endfor %}
</ul>
