---
pagination:
  data: collections.poemsByYear      # the object you build in .eleventy.js
  size: 1                            # one category per page
  alias: contestYear                 # current item is now “year”
permalink: "/years/{{ contestYear | slugify }}/"
layout: layout.njk
---

{% from "_macros/poems.njk" import poemListItem %}
{% set sortedPoems = collections.poemsByYear[contestYear] | sort("data.title", reverse=false) | sort("page.date", reverse=true) %}

<h1 class="text-3xl font-serif font-bold text-center mb-4">Easter Poems Written In {{ contestYear }}</h1>
<em class="block text-center text-gray-500 mb-4">Alphabetically</em>

<ul class="list-disc list-inside space-y-2">
{% for poem in sortedPoems %}
  {{ poemListItem(poem) }}
{% endfor %}
</ul>
