{% macro poemTitle(poem, showMedal=true) %}
  {%- if showMedal and poem.data.award === "winner" %}🥇 {% endif -%}
  {%- if showMedal and poem.data.award === "runner-up" %}🥈 {% endif -%}
  {{- poem.data.title -}}
{% endmacro %}


{% macro poemListItem(poem) %}
<li class="flex items-start">
  <a href="{{ poem.url }}" class="ml-3 text-accent hover:text-accentHover hover:underline">
    <h3 class="text-lg font-medium">
      {{ poemTitle(poem, showMedal=true) }}
      <span class="text-sm text-gray-500 font-normal">by {{ poem.data.author }}{% if poem.data.year %} ({{ poem.data.year }}){% endif %}</span>
    </h3>
  </a>
</li>
{% endmacro %}
