{% set css %} {% include "styles.css" %} {% endset %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }}{% if title %} | {{ title }}{% endif %}</title>
    <meta name="description" content="{{ description or site.description }}">
    <meta property="og:title" content="{{ title or site.title }}">
    <meta property="og:description" content="{{ description or site.description }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta name="generator" content="{{ eleventy.generator }}">

    <!-- <link href="/styles.css" rel="stylesheet" /> -->
    <link rel="preload" href="/fonts/tan-mon-cheri.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/BDScript-Regular.woff2" as="font" type="font/woff2" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">

    <style>
        {{ css | cssmin | safe }}
    </style>
  </head>
<body>
  <header>
    <div class="title"><span class="title-pretext">The</span> RISEN WORD</div>
  </header>

  <main class="content">
    {% block content %}{% endblock %}
  </main>

  <footer>
    <p>
      &copy; <script>document.write(new Date().getFullYear());</script> Seafish Productions.
      <i>Rejoice, for He is Risen.</i>
    </p>
    <!-- <div class="illustration">
      <img src="lily.svg" alt="An Easter lily" width="300">
      <img src="tomb.png" alt="The garden tomb" width="300">
    </div> -->
  </footer>
  <script>
    const countdown = document.getElementById('countdown');
    const submitBtn = document.getElementById('submitBtn');
    const deadline = new Date('April 19, 2025 00:00:00').getTime(); // 11:59 PM on April 18

    function setTime() {
      const now = new Date().getTime();
      const distance = deadline - now;

      if (distance < 0) {
        clearInterval(x);
        countdown.innerHTML = "Submissions are now closed.";
        if (submitBtn) {
          submitBtn.style.display = 'none';
        }
        return;
      }

      const days = Math.floor(distance / (1000 * 60 * 60 * 24));
      const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));

      countdown.innerHTML = `Be sure to submit by the deadline: ${days}d ${hours}h ${minutes}m left!`;
    }

    const x = setInterval(() => {
      setTime();
    }, 60000);

    setTime();
  </script>
</body>
</html>
