<!DOCTYPE html>
<html lang="en" class="bg-background text-text font-crimson">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }}{% if title %} | {{ title }}{% endif %}</title>
    <meta name="description" content="{{ description or site.description }}">
    <meta property="og:title" content="{{ title or site.title }}">
    <meta property="og:description" content="{{ description or site.description }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta name="generator" content="{{ eleventy.generator }}">

    <link href="/assets/styles/index.css" rel="stylesheet" />
    <link rel="preload" href="/fonts/tan-mon-cheri.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/BDScript-Regular.woff2" as="font" type="font/woff2" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
  </head>
<body class="flex flex-col items-center">
  <header class="w-full {% if page.url != '/' %}mt-5{% else %}mt-10{% endif %} text-center flex flex-col items-center">
    {% if page.url == '/' %}
      <div class="font-tan-mon-cheri text-4xl tracking-wide mb-2">
        <span class="font-beautifully-delicious text-7xl mb-2 block">The</span> RISEN WORD
      </div>
    {% endif %}
    <div class="w-full max-w-5xl flex justify-center items-center py-2">
      {% include "_partials/nav.njk" %}
    </div>
  </header>

  <main class="w-full p-4 bg-white my-1 shadow-none rounded-none sm:w-11/12 sm:max-w-3xl sm:p-8 sm:shadow-lg sm:rounded-lg">
    {% block content -%}{% endblock -%}
  </main>

  <footer class="mt-8 mb-16 p-4 text-center">
    <p class="font-cursive text-sm text-[#ff6f61]">
      &copy; <script>document.write(new Date().getFullYear());</script> Seafish Productions.
      <i>Rejoice, for He is Risen.</i>
    </p>
  </footer>
</body>
</html>
